.dashboard-left {
    left: 0;
}

.dashboard {
    background-color: navy;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120vh;
    padding: 40px;
  }
  
  .dashboard-header {
    font-size: 200px;
    font-weight: bold;
    padding-right: 1px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  .dashboard h2 {
    font-size: 16px;
  }
  
  .dashboard ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dashboard li {
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dashboard li span {
    font-size: 20px;
    margin-left: 5px;
  }
  
  .user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  
  .user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .user-profile h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .user-profile p {
    font-size: 14px;
    color: rgb(155, 152, 152);
  }
  