.App {
  text-align: center;
  background-color: lightgrey;
  display: flex;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.mode{
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.chart-container {
  background-color: white;
  border: 1px solid #ccc; /* Add a border */
  padding: 10px; /* Add padding for spacing between the chart and the border */
   /* Add rounded corners */
   height: 300px;
   
}
.charts{
  display: inline-flex;
 

}